<div class="App col centered">
  <div class="row centered">
    <h1>{{time | date:"mm":"+0000"}}</h1>:
    <h1>{{time | date:"ss":"+0000"}}</h1>
  </div>
  <div class="row centered">
    <button (click)="handleTimerStart()" 
    [ngClass]=
    "{'red': goTime === true,
     'green': goTime === false}"
     >{{goTime ? "Stop" : "Start"}}</button>
    <button (click)="handleWait()" 
    [ngClass]=
    "{'orange': goTime === true, 
    'yellow': goTime === false}"
    >Wait</button>
    <button (click)="handleReset()"
    [ngClass]=
    "{'blue': goTime === true,
    'purple': goTime === false}"
    >Reset</button>
  </div>
</div>